<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>動態多站即時地震波形圖</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        #charts {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .chart {
            width: 100%;
            height: 50px;
            margin-bottom: 0px;
        }

        @media (max-width: 1200px) {
            .chart {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<div id="charts"></div>
<script>
    const socket = io();
    const stations = new Map();

    function createChart(station) {
        let chartDiv = document.createElement('div');
        chartDiv.className = 'chart';
        chartDiv.id = `chart-${station}`;
        document.getElementById('charts').appendChild(chartDiv);

        let data = [{
            y: Array(5000).fill(0),
            type: 'scatter',
            mode: 'lines'
        }];
        let layout = {
            title: {
                text: `${station}`,
                xanchor: 'left',
                yanchor: 'middle',
                x: 0,   // x = 0 表示最左邊
                y: 0.5, // y = 0.5 表示垂直居中
                standoff: 20,  // 離圖表邊界的距離
                font: {
                    size: 12  // 設定標題字體大小為 12px
                }
            },

            height: 50,
            margin: {t: 0, b: 20, l: 200, r: 10}
        };

        Plotly.newPlot(`chart-${station}`, data, layout, {displayModeBar: false});
        stations.set(station, Array(5000).fill(0));
    }

    function updateChart(station, newData) {
        let currentData = stations.get(station);
        currentData = [...currentData.slice(newData.length), ...newData];
        stations.set(station, currentData);

        let update = {
            y: [currentData]
        };
        Plotly.update(`chart-${station}`, update);
    }


    socket.on('init_stations', function (msg) {
        msg.stations.forEach(station => {
            if (!stations.has(station)) {
                createChart(station);
            }
        });
    });

    socket.on('earthquake_data', function (msg) {
        if (!stations.has(msg.station)) {
            createChart(msg.station);
        }
        updateChart(msg.station, msg.data);
    });

</script>
</body>
</html>